name: CI Kaizen

on: [push]

jobs:
  docker-test:
    runs-on: ubuntu-latest
    container: alpine

    steps:
        - name: Télécharger le code
          uses: actions/checkout@v4

        - name: Rendre le script exécutable
          run: chmod +x script.sh

        - name: Exécuter le script
          run: ./script.sh
