name: CI Kaizen

on: [push]

jobs:
  docker-test:
    runs-on: ubuntu-latest
    container: node:18

    steps:
        - name: Télécharger le code
          uses: actions/checkout@v4

        - name: Rendre le script exécutable
          run: chmod +x script.sh

        - name: Exécuter le script
          run: ./script.sh
        - name: Upload build artifact
          uses: actions/upload-artifact@v4
          with:
           name: build-file
           path: build.txt
