name: CI Kaizen

on: [push]

jobs:
  docker-test:
    runs-on: ubuntu-latest
    container: alpine
  
    steps:
         - name: Message 1
           run: echo "Étape 1 OK"
         - name: Message 2
           run: echo "Étape 2 OK"
    
      #- name: Test message
    #    run: echo "Docker fonctionne dans le pipeline"
